*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Russo One', sans-serif;;
}
::marker{
    color: rgb(255, 50, 180);
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
.active{
    color: rgb(255, 50, 180) !important;
    border-bottom: rgb(255, 52, 180) !important;
    text-decoration: underline !important;
}

body{
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #404258;
}

p .navig-ligne{
    display: flex;
}

p .navig-ligne input{
    width: 30px;
    height: 30px;
}



.copy-right{
    width: 1000px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 2rem;
    background-color:#474E68;
    color: #ffffff;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;

}

.copy-right p{
    line-height: 70px;
    font-size: 2rem;
    text-align: left;
    background-color:#474E68;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

header, nav, .page-container, footer{
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 2rem;
    background-color:#474E68;
    color: #ffffff;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

header, nav, footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}

.logo-caweb{
    margin: auto 0;
    margin-left: 40px;
}

.logo-caweb img{
    filter: sepia(91%) saturate(1539%) hue-rotate(260deg) brightness(100%);
}

.titre{
    margin: auto 0;
    margin-right: 40px;
    background-color:#474E68;
}

.titre h1{
    font-size: 3.6rem;
    font-family: 'Russo One', sans-serif;
    background-color:#474E68;
}

nav{
    justify-content: space-around;
}

nav p{
    background-color:#474E68;
}

nav p a{
    font-size: 2.4rem;
    line-height: 100px;
    text-decoration: none;
    color: #ffffff;
    background-color:#474E68;
    font-family: Arial, Helvetica, sans-serif;
}

nav p a:hover{
    color: rgb(59, 47, 228);
}

.page-container{
    padding: 1.4rem;
}

.page-container h1{
    width: 100%;
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 2rem;
    background-color: #474E68;
}

.home-section h2{
    width: 100%;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    background-color: #474E68;
}

.section-content{
    background-color: #474E68;
}

.section-content p{
    font-size: 2rem;
    line-height: 2.4rem;
    margin: 2rem;
    background-color:#474E68;
}

.section-content-media{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.section-content-media img{
    width: 48%
}
iframe{
    width: 48%;
}
@media screen and (max-width: 600px){
    .section-content-media{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-content-media img{
        width: 100%;
        margin-bottom: 10px;
    }
    iframe{
        width: 100%;
    }
}

footer{
    justify-content: space-around;
}

footer p{
    background-color: #474E68;
}

footer p a{
    font-size: 2.4rem;
    line-height: 10rem;
    text-decoration: underline;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    background-color: #474E68;
}
.typewrite-div{
    text-align: center;
}
.typewrite{
    text-decoration: none;
}
.typewrite-div a{
    color: white;
}
.typewrite-div a span{
    font-size: 5rem;
    font-family: 'Russo One', sans-serif;
}
@media screen and (max-width: 600px){
    .typewrite-div a span{
        font-size: 2.5rem;
    }
}
.gallery-description{
    font-size: 2rem;
}
.liens p, .liens form label, .liens form input, .liens form textarea{
    font-size: 2rem;
}
li a, li b{
    font-size: 2rem;
}
@media screen and (max-width: 600px){
    .liens p, .liens form label, .liens form input, .liens form textarea{
        font-size: 1rem;
    }
    li a, li b{
        font-size: 1rem;
    }
}
#cboxTitle{
    font-size: 2rem;
}
.scroll-box {
    flex: 1;
    height:50px;
    border:2px solid rgb(240, 46, 170);
    margin:15px auto;
    overflow:hidden;
    padding: 5px;
}

.loader{
    background-color: #474E68;
}

.copy-right .loader span{
    line-height: 70px;
    font-size: 1.6rem;
    background-color: #474E68;
    color: #ffffff;
}

.scroll-box ul {
    list-style:none;
    width:100%;
    height:100%;
}
@media screen and (max-width: 900px){
    .scroll-box ul{
        margin-left: -30px;
    }
}
.scroll-box ul li {
    width:100%;
    height:40px;
    line-height:40px;
    text-align:center;
    color: rgb(255, 255, 255);
    font-style: oblique;
}

.loader {
    position: relative;
    padding-top: 20px;
}

.loader span{
    position: relative;
    color: #000000;
    display: inline-block;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
    animation-play-state: paused;
    line-height: 3rem;
}

.loader:hover span {
    animation-play-state: running;
}
@keyframes animate {

    0%,
    40%,
    100% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-10px);
    }
}

/* SLIDER */
#box {
    width: calc(100% - 20px);
    height: 630px;
    border: 2px solid  rgb(240, 46, 170);
    margin: 20px auto;
    padding: 5px;
    background-color: rgb(37, 37, 37);
}

.inner{
    width: 500px;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin: auto;
    z-index: 10;
    background-color: rgb(37, 37, 37);
}
.inner img{
    width: 500px;
    height: 600px;
    vertical-align: top;
}
@media screen and (max-width: 600px) {
    #box {
        /* width: 300px; */
        height: 370px;
    }
    .inner{
        width: 300px;
        height: 360px;
    }
    .inner img{
        width: 300px;
        height: 360px;
    }
}
#ulimg {
    width: 1000%;
    position: absolute;
    list-style: none;
    left: 0px;
    top: -20px;
    padding: 0 !important;
}
.inner li{
    float: left;
}

ol {
    position: absolute;
    background-color: rgba(37, 37, 37, 0);
    height: 20px;
    right: 20px;
    bottom: 20px;
    text-align: center;
    padding: 5px;
}
ol li{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #fff;
    color: #000000;
    margin: 5px;
    cursor: pointer;

}
ol .current{
    background-color: rgb(240, 46, 170);
    color: #fff;
}
#arr{
    display: none;
}
#arr span{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -20px;
    background: #fff;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    opacity: 0.5;
    color: #2a5959;
}
#arr #right {
    right: 5px;
    left: auto;
}


@media screen and (max-width: 900px){
    *{
        font-size: 8px;
    }

    header, nav, .page-container, footer{
        width: 95%;
        margin: 0 auto;
    }

    .section-content-media img{
        object-fit: cover;
        margin: 0;
    }

    .section-content-media iframe{
        width: calc(100% - 2rem);
        margin: 2rem auto;
    }

    .typewrite-div a span{
        font-size: 3rem;
    }
    #navig-ligne-color{
        width: 30px;
        height: 30px;
        margin: 35px 15px;
    }

    .copy-right .loader span{
        line-height: 3rem;
        margin: 0;
    }
}

@media screen and (max-width: 600px){
    *{
        font-size: 10px;
    }

    .titre h1{
        font-size: 2rem;
    }

    .loader span{
        margin: 0 !important;
        font-size: 1.4rem !important;
        line-height: 2rem !important;
    }

    .typewrite-div a span{
        font-size: 2rem;
    }

    .navig-ligne a{
        font-size: 1.6rem;
    }

    .navig-ligne:last-of-type span{
        font-size: 1.6rem;
    }

    .footer-ligne a{
        font-size: 2rem;
    }

    .change-color{
        font-size: 10px;
    }

    header, nav, .page-container, footer{
        width: 100%;
        margin: 0 auto;
    }

    .section-content-media img{
        width: 90%;
        object-fit: cover
    }

    .section-content-media iframe{
        width: calc(100% - 2rem);
        object-fit: cover;
        margin: 2rem auto;
    }

    .typewrite-div a span{
        font-size: 2rem;
    }

    #navig-ligne-color{
        width: 30px;
        height: 30px;
        margin: 35px 15px;
    }

    .copy-right .loader span{
        line-height: 3rem;
        margin: 0;
    }

}

@media screen and (max-width: 900px){
    *{
        font-size: 10px;
    }

    header, nav, .page-container, footer, .copy-right{
        width: 95%;
        margin: 0 auto;
    }

    .section-content-media img{
        object-fit: cover
    }
}
@media screen and (max-width: 600px){
    *{
        font-size: 10px;

    }

    header, nav, .page-container, footer, .copy-right{
        width: 95%;
        margin: 0 auto;
        margin-bottom: 2rem;
        background-color:#474E68;
        color: #ffffff;
        box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    }

    .section-content-media img{
        width: 90%;
        object-fit: cover
    }
}
/* Gallery */
.miniatures{
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    column-count: 3;
    column-gap: 10px;
}
#slide-img{
    margin-bottom: 20px;
    width: 200px;
}
#slide-img img{
    width: 100%;
    margin-bottom: 10px;
}
@media screen and (max-width: 900px) {
    .miniatures{
        column-count: 2;
    }
}
@media screen and (max-width: 500px) {
    .miniatures{
        column-count: 2;
    }
}