body{
    margin: 0;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 200px auto auto 60px;
    background-color: #82b2b2;
}
@media screen and (max-width: 600px){
    body{
        display: flex;
        flex-direction: column;
    }
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    grid-column: 2/3;
    grid-row: 1/2;
    text-shadow: #2a5959 0px 10px 10px;
}
.titre-h1{
    font-size: 3em;
    font-family: 'Abril Fatface', cursive;
}
@media screen and (max-width: 900px){
    .titre-h1{
        text-align: center;
        font-size: 2em;
    }
}
@media screen and (max-width: 600px){
    .titre-h1{
        font-size: 1.7em;
        text-align: center;
    }
}
nav{
    grid-column: 1/2;
    grid-row: 2/2;
    display: flex;
    flex-direction: column;
    text-align: center;
}
@media screen and (max-width: 600px){
    nav{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }
}
div.page-container{
    grid-column: 2/3;
    grid-row: 2/2;
    justify-content: center;
    padding: 20px;
    border: #2a5959 5px solid;
    background-color: rgba(93, 114, 114, 0.5);
}
footer{
    grid-column: 3/3;
    grid-row: 2/2;
    display: flex;
    flex-direction: column;
    text-align: center;
}
@media screen and (max-width: 600px){
    footer{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }
}
.typewrite-div{
    grid-column: 2/3;
    grid-row: 3/4;
    justify-content: center;
    font-size: 50px;
    margin: auto;
    font-family: 'Abril Fatface', cursive;
}
.copy-right{
    grid-column: 1/4;
    grid-row: 4/4;
    font-size: 20px;
    text-align: center;
    background-color: rgba(93, 114, 114, 0.5);
    border-top: #2a5959 1px solid;
}
@media screen and (max-width: 900px){
    .copy-right{
        font-size: 15px;
    }
}
@media screen and (max-width: 600px){
    .copy-right{
        font-size: 10px;
    }
}
.typewrite{
    text-decoration: none;
}
@media screen and (max-width: 900px){
    .typewrite-div{
        font-size: 1.5em;
    }
}
@media screen and (max-width: 600px){
    .typewrite-div{
        font-size: 1.2em;
    }
}
.page-container h1{
    animation: changeshadow 1s infinite;
    text-align: center;
}
@keyframes changeshadow {
    0% {
        text-shadow: 0 0 4px #2a5959;
    }
    25% {
        text-shadow: 40px 0 20px #2a5959;
        transform: rotate(2deg);
    }
    50% {
        text-shadow: 0px 0 4px #2a5959;
    }
    75% {
        text-shadow: -40px 0 20px #2a5959;
        transform: rotate(-2deg);
    }
    100% {
        text-shadow: 0 0 4px #2a5959;
    }
}
.logo-caweb{
    width: 100px;
    height: 100px;
}
.titre-h1{
    color: #2a5959;
    margin-top: -15px;
}
.miniatures{
    padding: 20px;
    border: #2a5959 5px dashed;
}
.navig-ligne a, .footer-ligne a{
    text-decoration: none;
    color: #000000;
    font-size: 1.5em;
}
.navig-ligne a:hover, .footer-ligne a:hover{
    color: #ffffff;
    transition-duration: 0.5s;
}
.navig-ligne, .footer-ligne{
    position: fixed;
    width: 15%;
    margin: auto;
    height: 40px;
    padding-top: 10px;
    background-color: #2a5959;
}
.navig-ligne:hover, .footer-ligne:hover{
    animation: bounce 1s;
}
@keyframes bounce {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    5% {
        transform: translateY(-10px);
        opacity: 0;
    }
    15% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-5px);
    }
    40% {
        transform:translateY(0%);
    }
    50% {
        transform: translateY(-3px);
    }
    70% {
        transform:translateY(0%);
    }
    80% {
        transform:translateY(-1.5px);
    }
    90% {
        transform:translateY(0%);
    }
    95% {
        transform:translateY(-0.7px);
    }
    97% {
        transform:translateY(0%);
    }
    99% {
        transform:translateY(-0.3px);
    }
    100% {
        transform:translateY(0);
        opacity: 1;
    }
}
.navig-ligne:nth-child(1), .footer-ligne:nth-child(1){
    margin-top: 5%;
}
.navig-ligne:nth-child(2), .footer-ligne:nth-child(2){
    margin-top: 10%;
}
.navig-ligne:nth-child(3), .footer-ligne:nth-child(3){
    margin-top: 15%;
}
.navig-ligne:nth-child(4), .footer-ligne:nth-child(4){
    margin-top: 20%;
}
@media screen and (max-width: 900px){
    .navig-ligne a, .footer-ligne a{
        font-size: 1.3em;
    }
    .navig-ligne:nth-child(2), .footer-ligne:nth-child(2){
        margin-top: 15%;
    }
    .navig-ligne:nth-child(3), .footer-ligne:nth-child(3){
        margin-top: 25%;
    }
    .navig-ligne:nth-child(4), .footer-ligne:nth-child(4){
        margin-top: 35%;
    }
}
@media screen and (max-width: 600px){
    .navig-ligne, .footer-ligne{
        position: static;
        width: 25%;
        padding-top: 15px;
    }
    .navig-ligne:nth-child(4){
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .navig-ligne:nth-child(1), .footer-ligne:nth-child(1){
        margin-top: 0;
    }
    .navig-ligne:nth-child(2), .footer-ligne:nth-child(2){
        margin-top: 0;
    }
    .navig-ligne:nth-child(3), .footer-ligne:nth-child(3){
        margin-top: 0;
    }
    .navig-ligne:nth-child(4), .footer-ligne:nth-child(4){
        margin-top: 0;
    }
    .navig-ligne a, .footer-ligne a{
        font-size: 1.1em;
    }
}
.wrap{
    color: #2a5959;
}
.section-content-media{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.section-content-media img{
    width: 48%
}
iframe{
    width: 48%;
}
@media screen and (max-width: 900px){
    .section-content-media{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section-content-media img{
        width: 100%;
        margin-bottom: 10px;
    }
    iframe{
        width: 100%;
    }
}
.gallery-description{
    font-size: 1.4em;
}
.section-content p{
    font-size: 1.4em;
}
.liens{
    font-size: 1.4em;
}

.section-content p{
    height: 200px;
    overflow: scroll;
    padding: 20px;
    border: #2a5959 5px dashed;
    background-color: rgba(42, 89, 89, 0.3);
}
.scroll-box {
    flex: 1;
    height:40px;
    border:2px solid #2a5959;
    margin:15px auto;
    overflow:hidden;
    padding: 5px;

}

.scroll-box ul {
    list-style:none;
    margin-left: -40px;
    width:100%;
    height:100%;
}
@media screen and (max-width: 900px){
    .scroll-box ul{
        margin-left: -30px;
    }
}
.scroll-box ul li {
    width:100%;
    height:40px;
    line-height:40px;
    text-align:center;
    color: rgb(0, 0, 0);
    font-style: oblique;
    overflow: hidden;
}
.active{
    border-bottom: double white 5px !important;
    color: #ffffff !important;
}
.loader {
    position: relative;
    padding-top: 20px;
}
@media screen and (max-width: 600px){
    .loader{
        padding-top: 15px;
        padding-bottom: 10px;
    }
}

.loader span {
    position: relative;
    color: #000000;
    display: inline-block;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
    animation-play-state: paused;
    margin-left: -1px;
    margin-right: -1px;
}

.loader:hover span {
    animation-play-state: running;
}
@keyframes animate {

    0%,
    40%,
    100% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-10px);
    }
}