body{
    margin: 0;
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 200px 300px auto auto 60px;
    background-color: #b3b3e0;
}
@media screen and (max-width: 900px){
    body{
        grid-template-columns: 20% 80%;
    }
}
@media screen and (max-width: 600px){
    body{
        grid-template-columns: 100%;
        grid-template-rows: 200px 50px 50px auto auto 60px;
        margin-top: 40px;
    }
}

.logo-caweb img{
    filter: sepia(100%) hue-rotate(190deg) saturate(500%) brightness(90%);
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    grid-column: 2/2;
    grid-row: 1/2;
    text-shadow: #5151ff 0px 10px 10px;
    border-left: #5151ff 5px solid;
    margin-left: -5px;
}

footer{
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-right: #5151ff 5px solid;
}
@media screen and (max-width: 600px){
    footer{
        display: flex;
        flex-direction: row;
        padding-top: 0;
        border-right: none;
        justify-content: space-evenly;
    }
    header{
        text-align: center;
    }
}

nav{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-right: #5151ff 5px solid;
}
@media screen and (max-width: 600px){
    nav{
        display: flex;
        flex-direction: row;
        border-right: none;
        justify-content: space-evenly;
    }
}

.navig-ligne a, .footer-ligne a{
    text-decoration: none;
    color: #000000;
    font-size: 1.5em;
}
.navig-ligne a:hover, .footer-ligne a:hover{
    color: #5151ff;
}
@media screen and (max-width: 600px){
    .navig-ligne a, .footer-ligne a{
        font-size: 1em;
    }
}
div.page-container{
    grid-column: 2/2;
    grid-row: 2/4;
    justify-content: center;
    padding: 20px;
}
.typewrite-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 2em;
    text-shadow: #5151ff 0px 10px 10px;
    grid-column: 2/2;
    grid-row: 4/5;
    border-left: #5151ff 5px solid;
    margin-left: -5px;
}
.typewrite{
    text-decoration: none;
    color: #000000;
}
.copy-right{
    grid-column: 2/2;
    grid-row: 5/5;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    border-left: #5151ff 5px solid;
    margin-left: -5px;
}
@media screen and (max-width: 600px){
    .typewrite-div{
        font-size: 1.2em;
    }
    .copy-right{
        font-size: 0.8em;
    }
}
@media screen and (max-width: 600px){
    header{
        grid-column: 1/1;
        grid-row: 1/2;
    }
    nav{
        grid-column: 1/1;
        grid-row: 2/3;
    }
    footer{
        grid-column: 1/1;
        grid-row: 3/4;
        border-top: 3px solid #5151ff;
    }
    .page-container{
        grid-column: 1/1 !important;
        grid-row: 4/5 !important;
    }
    .typewrite-div{
        grid-column: 1/1;
        grid-row: 5/6;
    }
    .copy-right{
        grid-column: 1/1;
        grid-row: 6/6;
    }
}
.active{
    border-bottom: double #5151ff 5px !important;
    color: #5151ff !important;
}

.section-content-media{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.section-content-media img{
    width: 48%
}
iframe{
    width: 48%;
}
@media screen and (max-width: 600px){
    .section-content-media{
        display: flex;
        flex-direction: column;
    }
    .section-content-media img{
        width: 100%;
    }
    iframe{
        width: 100%;
    }
}
.loader {
    position: relative;
    padding-top: 20px;
}
@media screen and (max-width: 600px){
    .loader{
        padding-top: 15px;
        padding-bottom: 10px;
    }
}

.loader span {
    position: relative;
    color: #000000;
    display: inline-block;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
    animation-play-state: paused;
    margin-left: -1px;
    margin-right: -1px;
}

.loader:hover span {
    animation-play-state: running;
}
@keyframes animate {

    0%,
    40%,
    100% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-10px);
    }
}

/* SLIDER */
#box {
    width: calc(100% - 20px);
    height: 600px;
    border: 5px dashed #5151ff;
    margin: 20px auto;
    padding: 5px;
    background-color: rgba(81, 81, 255, 0.2);
}

.inner{
    width: 500px;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin: auto;
    z-index: 10;
}
.inner img{
    width: 500px;
    height: 600px;
    vertical-align: top;
}
@media screen and (max-width: 600px) {
    #box {
        width: 300px;
        height: 360px;
    }
    .inner{
        width: 300px;
        height: 360px;
    }
    .inner img{
        width: 300px;
        height: 360px;
    }
}
#ulimg {
    width: 1000%;
    position: absolute;
    list-style: none;
    left: 0px;
    top: -20px;
    padding: 0 !important;
}
.inner li{
    float: left;
}

ol {
    position: absolute;
    height: 20px;
    right: 20px;
    bottom: 20px;
    text-align: center;
    padding: 5px;
}
ol li{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #fff;
    margin: 5px;
    cursor: pointer;

}
ol .current{
    background-color: #5151ff;
}
#arr{
    display: none;
}
#arr span{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -20px;
    background: #fff;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    opacity: 0.5;
    color: #5151ff;
}
#arr #right {
    right: 5px;
    left: auto;
}
/*--------SCROLL BOX---------*/
.scroll-box {
    flex: 1;
    height:40px;
    border:2px solid #5151ff;
    margin:15px auto;
    overflow:hidden;
    padding: 5px;

}

.scroll-box ul {
    list-style:none;
    margin-left: -40px;
    width:100%;
    height:100%;
}
@media screen and (max-width: 900px){
    .scroll-box ul{
        margin-left: -30px;
    }
}
.scroll-box ul li {
    width:100%;
    height:40px;
    line-height:40px;
    text-align:center;
    color: rgb(0, 0, 0);
    font-style: oblique;
    overflow: hidden;
}