@page {
    margin: 1cm;
}
::selection { background: #5151ff; color:#fff;}

::-moz-selection { background:#5151ff; color:#fff;}

::-webkit-selection { background:#5151ff; color:#fff;}

::marker { color: #5151ff;}
body{
    margin: 0;
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 200px 300px auto auto 60px;
    background-color: #b3b3e0;
    background: linear-gradient(180deg, #b3b3e0, #cffcf8);
    background: -moz-linear-gradient(180deg, #b3b3e0, #cffcf8);
    background: -webkit-linear-gradient(180deg, #b3b3e0, #cffcf8);
}
@media screen and (max-width: 900px){
    body{
        grid-template-columns: 20% 80%;
    }
}
@media screen and (max-width: 600px){
    body{
        grid-template-columns: 100%;
        grid-template-rows: 200px 50px 50px auto auto 60px;
        margin-top: 40px;
    }
}
button{
    background-color: #5151ff;
    color: white;
    border-radius: 10px;
}
.logo-caweb img{
    filter: sepia(100%) hue-rotate(190deg) saturate(500%) brightness(90%);
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    grid-column: 2/2;
    grid-row: 1/2;
    text-shadow: #5151ff 0px 10px 10px;
    border-left: #5151ff 5px solid;
    margin-left: -5px;
    padding-top: 40px;
}

footer{
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-right: #5151ff 5px solid;
}
@media screen and (max-width: 600px){
    footer{
        display: flex;
        flex-direction: row;
        padding-top: 0;
        border-right: none;
        justify-content: space-evenly;
    }
    header{
        text-align: center;
    }
}

nav{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-right: #5151ff 5px solid;
}
@media screen and (max-width: 600px){
    nav{
        display: flex;
        flex-direction: row;
        border-right: none;
        justify-content: space-evenly;
    }
}

.navig-ligne a, .footer-ligne a{
    text-decoration: none;
    color: #000000;
    font-size: 1.5em;
}
.navig-ligne a:hover, .footer-ligne a:hover{
    color: #5151ff;
}
@media screen and (max-width: 600px){
    .navig-ligne a, .footer-ligne a{
        font-size: 1em;
    }
}
div.page-container{
    grid-column: 2/2;
    grid-row: 2/4;
    justify-content: center;
    padding: 20px;
}
.typewrite-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 2em;
    text-shadow: #5151ff 0px 10px 10px;
    grid-column: 2/2;
    grid-row: 4/5;
    border-left: #5151ff 5px solid;
    margin-left: -5px;
}
.typewrite{
    text-decoration: none;
    color: #000000;
}
.copy-right{
    grid-column: 2/2;
    grid-row: 5/5;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    border-left: #5151ff 5px solid;
    margin-left: -5px;
}
@media screen and (max-width: 600px){
    .typewrite-div{
        font-size: 1.2em;
    }
    .copy-right{
        font-size: 0.8em;
    }
}
@media screen and (max-width: 600px){
    header{
        grid-column: 1/1;
        grid-row: 1/2;
    }
    nav{
        grid-column: 1/1;
        grid-row: 2/3;
    }
    footer{
        grid-column: 1/1;
        grid-row: 3/4;
        border-top: 3px solid #5151ff;
    }
    .page-container{
        grid-column: 1/1 !important;
        grid-row: 4/5 !important;
    }
    .typewrite-div{
        grid-column: 1/1;
        grid-row: 5/6;
    }
    .copy-right{
        grid-column: 1/1;
        grid-row: 6/6;
    }
}
.active{
    border-bottom: double #5151ff 5px !important;
    color: #5151ff !important;
}

.section-content-media{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.section-content-media img{
    width: 48%
}
iframe{
    width: 48%;
}
@media screen and (max-width: 600px){
    .section-content-media{
        display: flex;
        flex-direction: column;
    }
    .section-content-media img{
        width: 100%;
    }
    iframe{
        width: 100%;
    }
}
.loader {
    position: relative;
    padding-top: 20px;
}
@media screen and (max-width: 600px){
    .loader{
        padding-top: 15px;
        padding-bottom: 10px;
    }
}

.loader span {
    position: relative;
    color: #000000;
    display: inline-block;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
    animation-play-state: paused;
    margin-left: -1px;
    margin-right: -1px;
}

.loader:hover span {
    animation-play-state: running;
}
@keyframes animate {

    0%,
    40%,
    100% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-10px);
    }
}
/* Gallery */
.miniatures{
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    column-count: 3;
    column-gap: 10px;
}
#slide-img{
    margin-bottom: 20px;
    width: 200px;
}
#slide-img img{
    width: 100%;
    margin-bottom: 10px;
}
@media screen and (max-width: 900px) {
    .miniatures{
        column-count: 2;
    }
}
@media screen and (max-width: 500px) {
    .miniatures{
        column-count: 2;
    }
}
/* SLIDER */
#box {
    width: calc(100% - 20px);
    height: 600px;
    border: 5px dashed #5151ff;
    margin: 20px auto;
    padding: 5px;
    background-color: rgba(81, 81, 255, 0.2);
}

.inner{
    width: 500px;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin: auto;
    z-index: 10;
}
.inner img{
    width: 500px;
    height: 600px;
    vertical-align: top;
}
@media screen and (max-width: 600px) {
    #box {
        width: 300px;
        height: 360px;
    }
    .inner{
        width: 300px;
        height: 360px;
    }
    .inner img{
        width: 300px;
        height: 360px;
    }
}
#ulimg {
    width: 1000%;
    position: absolute;
    list-style: none;
    left: 0px;
    top: -20px;
    padding: 0 !important;
}
.inner li{
    float: left;
}

ol {
    position: absolute;
    height: 20px;
    right: 20px;
    bottom: 20px;
    text-align: center;
    padding: 5px;
}
ol li{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #fff;
    margin: 5px;
    cursor: pointer;

}
ol .current{
    background-color: #5151ff;
}
#arr{
    display: none;
}
#arr span{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -20px;
    background: #fff;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    opacity: 0.5;
    color: #5151ff;
}
#arr #right {
    right: 5px;
    left: auto;
}
/*--------SCROLL BOX---------*/
.scroll-box {
    flex: 1;
    height:40px;
    border:2px solid #5151ff;
    margin:15px auto;
    overflow:hidden;
    padding: 5px;

}

.scroll-box ul {
    list-style:none;
    margin-left: -40px;
    width:100%;
    height:100%;
}
@media screen and (max-width: 900px){
    .scroll-box ul{
        margin-left: -30px;
    }
}
.scroll-box ul li {
    width:100%;
    height:40px;
    line-height:40px;
    text-align:center;
    color: rgb(0, 0, 0);
    font-style: oblique;
    overflow: hidden;
}
/*animation*/
pre { margin-bottom: 0; margin-left: 20px;}
svg { width: 1.5em; height: 1.5em; }

button.anim-button {
    width: 27px;
    height: 27px;
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 8px;
}

button.play {
    background-image: url('img/play.png');
}

button.pause {
    background-image: url('img/pause.png');
}

button.restart {
    background-image: url('img/replay.png');
}

.animation-box {
    width: 100%;
    display: flex;
    background: #EEE;
    font: 1em monospace;
}

.row {
    display: flex;
    flex: 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    display: flex;
    flex: 1 auto;
    flex-direction: column;
}

.cell {
    box-sizing: border-box;
    margin: .5em;
    padding: 0;
    background-color: #FFF;
    overflow: hidden;
    text-align: left;
}

.flx {
    flex: 1 0;
}

.note {
    background: #cffcf8;
    padding: 1em;
    margin: .5em;
    font: .8em sans-serif;
    text-align: left;
    flex: none;
}

.overlay { padding: .5em; }

@keyframes slidein {
    from { transform: scaleX(0); }
    to { transform: scaleX(1); }
}
@keyframes rotation {
    from { transform: rotate(-5deg); }
    to { transform: rotate(5deg); }
}

.a1 { animation: 3s ease-in 1s 2 reverse both paused slidein; }
.a2 { animation: 3s linear 1s slidein; }
.a3 { animation: 3s slidein; }
.a4 { animation: 1s 2 reverse rotation; }
.a5 { animation: .5s linear 1s infinite alternate rotation; }
.a6 { animation: 1s rotation; }

.animation {
    background: #5151ff;
    width: 100%;
    height: 20px;
    transform-origin: left center;
}

.a4, .a5, .a6 {
    background: #5151ff;
    width: 100%;
    height: 20px;
    transform-origin: center;
}

/* the little things */
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.load-wrapp {
    float: left;
    width: 100px;
    height: 120px;
    margin: 0 10px 10px 0;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #EEE;
}

.load-wrapp p {
    padding: 0 0 20px;
}
.load-wrapp:last-child {
    margin-right: 0;
}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #5151ff;
}

.ring-1 {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    padding: 10px;
    border: 7px dashed #5151ff;
    border-radius: 100%;
}

.ring-2 {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    border: 4px solid #5151ff;
    border-radius: 100%;
}

.ball-holder {
    position: absolute;
    width: 12px;
    height: 45px;
    left: 17px;
    top: 0px;
}

.ball {
    position: absolute;
    top: -11px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #5151ff;
}

.letter-holder {
    padding: 16px;
}

.letter {
    float: left;
    font-size: 14px;
    color: #777;
}

.square {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color: #5151ff;
}

.spinner {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

.bubble-1,
.bubble-2 {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #5151ff;
}

.bubble-2 {
    top: auto;
    bottom: 0;
}

.load-10 .bar {
    float: left;
    width: 15px;
    height: 6px;
    border-radius: 2px;
    background-color: #5151ff;
}

/* =Animate the stuff= */
.load-1 .line:nth-last-child(1) {
    animation: elementA 1.5s 1s infinite;
}
.load-1 .line:nth-last-child(2) {
    animation: elementA 1.5s 0.5s infinite;
}
.load-1 .line:nth-last-child(3) {
    animation: elementA 1.5s 0s infinite;
}

.load-2 .line:nth-last-child(1) {
    animation: elementB 1.5s 1s infinite;
}
.load-2 .line:nth-last-child(2) {
    animation: elementB 1.5s 0.5s infinite;
}
.load-2 .line:nth-last-child(3) {
    animation: elementB 1.5s 0s infinite;
}

.load-3 .line:nth-last-child(1) {
    animation: elementC 0.6s 0.1s linear infinite;
}
.load-3 .line:nth-last-child(2) {
    animation: elementC 0.6s 0.2s linear infinite;
}
.load-3 .line:nth-last-child(3) {
    animation: elementC 0.6s 0.3s linear infinite;
}

.load-4 .ring-1 {
    animation: elementD 1.5s 0.3s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

.load-5 .ball-holder {
    animation: elementE 1.3s linear infinite;
}

.load-6 .letter {
    animation-name: elementF;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
}

.l-1 {
    animation-delay: 0.48s;
}
.l-2 {
    animation-delay: 0.6s;
}
.l-3 {
    animation-delay: 0.72s;
}
.l-4 {
    animation-delay: 0.84s;
}
.l-5 {
    animation-delay: 0.96s;
}
.l-6 {
    animation-delay: 1.08s;
}
.l-7 {
    animation-delay: 1.2s;
}
.l-8 {
    animation-delay: 1.32s;
}
.l-9 {
    animation-delay: 1.44s;
}
.l-10 {
    animation-delay: 1.56s;
}

.load-7 .square {
    animation: elementG 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

.load-8 .line {
    animation: elementH 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

.load-9 .spinner {
    animation: elementI 2s linear infinite;
}
.load-9 .bubble-1,
.load-9 .bubble-2 {
    animation: bounce 2s ease-in-out infinite;
}
.load-9 .bubble-2 {
    animation-delay: -1s;
}

.load-10 .bar {
    animation: elementJ 2s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

@keyframes elementA {
    0% {
        height: 15px;
    }
    50% {
        height: 35px;
    }
    100% {
        height: 15px;
    }
}

@keyframes elementB {
    0% {
        width: 15px;
    }
    50% {
        width: 35px;
    }
    100% {
        width: 15px;
    }
}

@keyframes elementC {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 15px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes elementD {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes elementE {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes elementF {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes elementG {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    50% {
        transform: translate(70px, 0) rotate(360deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes elementH {
    0% {
        width: 15px;
    }
    50% {
        width: 35px;
        padding: 4px;
    }
    100% {
        width: 15px;
    }
}

@keyframes elementI {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}

@keyframes elementJ {
    0%,
    100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(80px, 0);
        background-color: #f5634a;
        width: 25px;
    }
}

/*Grid*/
.code{
    margin: auto;
    width: 80%;
    border: 2px solid #5151ff;
    border-radius: 10px;
    background-color: #cffcf8;
    height: 300px;
    overflow: scroll;
}
.grid {
    max-width: 1000px;
    margin: 30px auto auto;
    background: #EEE;
}

.grid > div {
    border: 2px solid #5151ff;
    border-radius: 5px;
    background-color: #cffcf8;
    padding: 1em;
    color: #5151ff;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.un {
    grid-column: 1 / 3;
    grid-row: 1;
}
.deux {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}
.trois {
    grid-column: 1;
    grid-row: 2 / 5;
}
.quatre {
    grid-column: 3;
    grid-row: 3;
}
.cinq {
    grid-column: 2;
    grid-row: 4;
}
.six {
    grid-column: 3;
    grid-row: 4;
}
.grid-li{
    font-size: 1.5em;
}

@media print {


    /*----------------*/
    /*----------------*/



    * {
        all: unset;
        display: revert;
    }
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    img {
        max-width: 100%;
    }
    input,
    textarea,
    select {
        all: revert;
    }

    body {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 13pt;
        line-height: 1.5;
        background-color: #fff!important;
        color: #000!important;
        display: flex;
        flex-direction: column;
    }
    h1 {
        font-size: 24pt;
    }
    h2 {
        font-size: 20pt;
        margin-top: 20pt;
    }
    h3,
    h4 {
        font-size: 14pt;
        margin-top: 14pt;
    }
    h5,
    h6 {
        font-size: 13pt;
        margin-top: 14pt;
    }

    p,
    blockquote,
    figcaption {
        orphans: 3;
        widows: 3;
    }

    ul,
    ol,
    dl,
    a,
    table,
    pre,
    blockquote {
        page-break-inside: avoid;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    img,
    figure,
    caption {
        page-break-inside: avoid;
        page-break-after: avoid;
    }

    ul,
    ol,
    dl {
        page-break-before: avoid;
    }

    a,
    a:link,
    a:visited {
        background: transparent !important;
        color: unset;
        font-weight: 700;
        text-decoration: underline !important;
    }

    a[href^=http]:after,
    a[href^=https]:after
    {
        content: " (" attr(href) ")";
    }

    video,
    object,
    iframe {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
        overflow: hidden !important;
    }
    .navig-ligne a, .footer-ligne a{
        font-size: 12pt;
    }
    .home-section .section-content{
        height: 80%;
    }
    #box{
        margin-bottom: 300pt;
    }
    nav, footer{
        margin-top: 50pt;
        display: flex;
        flex-direction: row;
        gap: 20pt;
        justify-content: center;
        align-items: center;
    }
    footer{
        margin-bottom: 50pt;
    }
    .content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100pt;
    }
    .miniatures{
        box-sizing: border-box;
        width: 100%;
        margin: auto;
        column-count: 3;
        column-gap: 10px;
        margin-bottom: 50pt;
    }
    header, nav, footer, .page-container, .copy-right, .typewrite-div{
        border: none;
    }
}